.btn-outline{
    background-color: #fd1849;
}
.d001{
    background-color: #263B5E;
    columns: white;
    height: 100px;
}
.program{
    color: white;
}
.d001 a{
    color: white;
}
.a11{
    color: white;
}
.dlogo{
    background-color: #263B5E;
    height: 110px;
}
/* .imglogo{
    padding-left: 160px;
    
    
} */
.drpdwn{
    background-color: white;
    color: #263B5E;
}