body{
    margin: 0;
    padding: 0px;
}
.btn-outline{
    background-color: #fd1849;
}
.d001{
    background-color: #263B5E;
    columns: white;
    height: 100px;
}
.program{
    color: white;
}
.d001 a{
    color: white;
}
.a11{
    color: white;
}
.dlogo{
    background-color: #263B5E;
    height: 110px;
}
/* .imglogo{
    padding-left: 160px;
    
    
} */
.drpdwn{
    background-color: white;
    color: #263B5E;
}
.d001{
    height: 800px;
    background-color: #263B5E;
    
    color: white;
    
    
}
.p1{
    /* padding-top: 250px;
    padding-left: 190px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h11{
    /* padding-left: 190px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p3{
    /* padding-left: 190px; */
    color: rgb(173, 173, 173);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn00{
    background-color: #fd1849;
    color: white;
    border-radius: 10px;
    height: 60px; 
    /* width: 170px;  */
    border: 0;
}