<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arrays</title>
</head>
<body>

    <script>

       var marks = [10,20,30,10,'hello','haii'] // array elements
    //    console.log(marks.length)
    //    marks.push(5,66)
    //    marks.pop()
    //    marks.shift()
    // //    marks.unshift('hhhhhh')
    //    console.log('indexof ' +marks.indexOf(10))
    //    console.log('lastindexof ' + marks.lastIndexOf(5))

    //    var slicedArray = marks.slice (0,4)
    //    console.log('sliced array is ' + slicedArray)
    

    //    for(var i=0; i<marks.length;i++){
    //     console.log(marks[i])
    //    }

    marks.splice(1,2,'haai','hello','hiii')
    console.log(marks)

    //    for(var i of marks){   //for of loop
    //     console.log(i)
    //    }


    </script>
</body>
</html>