{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css2</title>
    <link rel="stylesheet" href="{% static 'css/css2.css' %}"> 
    <style>
        div{
            background-color: rgb(52, 87, 87);
            padding: 20px 60px 80px 70px;
            margin: 30px 100px 30px 150px ;
            border: 2px solid black;

        }

    </style>
</head>
<body>
    <div >
        

    
        <h1>hadique</h1>
        <h2>hhhhhhhhh</h2>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde doloremque cum quod voluptate culpa vel, modi repellendus, laborum aut quisquam eius quis impedit placeat deserunt neque atque dolores reprehenderit praesentium tenetur! Aut nam dignissimos sunt, ipsam itaque repellendus. Nisi odit ullam molestias eius amet sit earum itaque eum facilis obcaecati quos vel, accusantium veritatis perferendis. Cumque ut distinctio neque ducimus, odit similique eos deleniti, nihil minima excepturi sunt dignissimos iure dicta dolorum, maiores voluptatum.</p>
        <!-- <div class="ani">

        </div> -->
    </div>

</body>
</html>