<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
</head>
<body>
    <!-- <button onclick="alert('heyyyyyy')">  </button> -->
    <script>
        // document.write('<h1>helloo</h1>')
        // name = 'heyyy'
        // document.write(name)
        // console.log(name)
        // console.log(typeof(name))
        // num1=10.
        // console.log(num1)
        // console.log(typeof(num1))

        // alert('baabtra')
        // name = prompt('enter your name')
        // document.write('good morning '+name)

        // confirm('are you sure about exit')

        // num1 = parseInt(prompt('enter the first number')) 
        // num2 = Number(prompt('enter the second number')) 
        // document.write('first number is <br>'+num1 )
        // document.write('second number is <br>'+num2 )
        // sum = num1+num2
        // console.log(typeof(num1))
        // console.log(typeof(num2))
        // document.write('sum='+sum)
        // document.write('<h1>' ,num1,'+',num2,'=',sum,'</h1>')

        // had = false
        // console.log(typeof(had))
        // console.log(had)

        // name='string'
        // console.log(name[0])
        // console.log(name.length)

        // numbers = [6,7,11,2]
        // console.log(numbers)
        // console.log(numbers[2])

        // name = prompt('enter your name')
        // place = prompt('enter your place')
        // age = Number(prompt('enter your age'))
        // document.write('your name is '+name,'<br>')
        // document.write('you from '+place,'<br>')
        // age100 = 100-age
        // document.write('Need '+age100 ,' years to celebrate your 100th birthday')

        // details = {
        //     'name': 'ali',
        //     'age':15,
        //     'place':'calicut',
        //     'skills':['drawing','swimming'],
        //     1:'helloo',
        //     'name1':'geethu',
            
        // }
        // console.log(details)
        // console.log(details['name'])
        // console.log(details['skills'])
        // console.log(details['skills'][0])
        // console.log(details[1])
        
        // if(10>11){
        //     console.log('10 is greater than 8')
        // }
        // else{
        //     console.log('8 is greater than 10')
        // }


        // num1 = prompt('enter a number')
        // num2 = prompt('enter the second number')
        // if(num1<num2){
        //     alert(num1+' is smaller than '+num2)
        // }
        // else{
        //     alert(num2+'is smallet than '+num1)
        // }


        // num1 = prompt('enter the number')
        // if(num1%2==0){
        //     alert(num1+ ' is even')
        // }
        // else{
        //     alert(num1+' is odd')
        // }

                                //  else if
        // mark = Number(prompt('enter your mark'))
        // if(mark>90){
        //     alert('excellent')
        // }
        // else if(mark>=70){
        //     alert('good')
        // }
        // else if(mark>=50){
        //     alert('average')
        // }
        // else if(mark>=30){
        //     alert('just pass')
        // }
        // else{
        //     alert('failed')
        // }

                        //    nested if
        // num1 = Number(prompt('enter the first number'))
        // num2 = Number(prompt('enter the second number'))
        // num3 = Number(prompt('enter the third number'))
        // if(num1>num2){
        //     if(num1>num3){
        //         alert(num1+' is greater')
        //     }
        //     else{
        //         alert(num3+' is greater')
        //     }
        // }
        // else if(num2>num3){
        //     alert(num2+' is greater')
        // } 
        // else{
        //     alert(num3+ ' is greater')
        // }

        var num1 = Number(prompt('enter the first number'))
        var num2 = Number(prompt('enter the second number'))
        var num3 = Number(prompt('enter the third number'))
        var num4 = Number(prompt('enter the fourth number'))

        if(num1>num2){
            if(num1>num3){
                if(num1>num4){
                    document.write(num1 +'is greater')
                }
                else{
                    document.write(num4 +'is greater')
                }
            }
            else{
                document.write(num3 +'is greater')
            }
        }
         if(num2>num3){
            if(num2>num4){
                document.write(num2 +'is greater')
            }
            else{
                document.write(num4 +'is greater')
            }
        }
        else{
            document.write(num3 +'is greater')
        }
        if(num3>num4){
            document.write(num3 +'is greater')

        }
        else{
            document.write(num4 +'is greater')
        }
         

        // grade = prompt('enter a grade')
        // switch(grade.toUpperCase()){
        //     case 'A':
        //         alert('excellent')
        //         break
        //     case 'B' :
        //         alert('good')
        //         break
        //     case 'C':
        //         alert('average')    
        //         break
        //     case 'd':
        //         alert('just pass') 
        //         break 
        //     default:
        //         alert('invalid input')               
        // }


        // for(i=0; i<20; i=i+2){
        //     // console.log('helo')
        //     // document.write('helloo <br>')
        //     document.write(i,'<br>')
        // }

        // for(i=0; i<=20; i++){
        //     if(i%2==0){
        //         document.write(i,'<br>')
        //     }
        // }


        // for(i=0; i<=5; i++){
        //     for(j=0; j<i+1; j++){
        //         document.write('* ')
        //     }
        //     document.write('<br>')
        // }


        // for(i=0; i<=4; i++){
        //     for(j=4; j>=i; j--){
        //         document.write('* ')
        //     }
        //     document.write('<br>')
        // }

        
        // for(i=0; i<=6; i++){
        //     for(j=0; j<i+1; j++){
        //         document.write(i+)
        //     }
        //     document.write('<br>')
        // }


    </script>
</body>
</html>