<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis error illum? Illo nemo maxime voluptas doloremque quas, vitae beatae asperiores fugiat aperiam tempore repudiandae, illum recusandae ipsum delectus consequatur? Esse dolores rem quas error fuga ducimus ad reiciendis quam facere soluta, est commodi blanditiis vero odit quaerat veniam earum eaque optio magni? Ducimus, optio eius ipsam eaque ullam necessitatibus deleniti quos? In possimus eligendi eveniet. Suscipit incidunt ratione, fugiat maxime sint porro deleniti rem quia reprehenderit possimus eaque voluptatum dolores autem, nisi, voluptates aliquam similique minima? Accusantium deleniti magni eum expedita perferendis neque error excepturi sit, aperiam natus quis.

    <hr> 

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi a fuga quam sapiente eos, officiis tempore corrupti similique soluta nihil.
</body>
</html>