<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>j-query</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <div>
        <span>
            helloooo
        </span>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis placeat porro ut incidunt in commodi sapiente officiis labore ullam eum animi, laudantium, dolores illo culpa necessitatibus tempore tempora expedita voluptates.</p>
    </div> -->

    <!-- <p>
        <span>haii</span>
        <span>helloo</span>
        <p>heyy</p>
    </p>
    <span>halo</span> -->

    <p>hhhhhhh</p>
    <p>eeeee</p>
    <p>wwwwww</p>
    <p>eeeeeee</p>
    <p>gggggggg</p>


    <script>
        $(document).ready(function(){
            // $('span').parent().css({
            //     'height':'400px',
            //     'width':'300px',
            //     'background-color':'aqua'
            // })

            // $('p').children().css('color','red')

            // $('p').siblings().css('color','green')

            $('p').first().css('background-color','yellow')
            $('p').last().css('background-color','red')
            $('p').eq(2).css('background-color','green')

            

        })
    </script>
    
    
</body>
</html>