<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>while</title>
</head>
<body>
    <h1 id="h1">hellooo</h1>
    <p id="ptag" style="color: blue;">Lorem ipsum dolor sit amet.</p>
    <script>
        // var i = 0
        // while(i<=10){
        //     console.log(i)
        //     i++
        // }

        // var j = 0
        // while(i>=1){
        //     console.log(i)
        //     i--
        // }

        // var i = 0,j = 0
        // while(i<=10){
        //     j=0
        //     while(j<=10){
        //         console.log('1 =',i,'j =',j)
        //         j++
        //     }
        //     i++
        // }


        // var i = 23
        // var i = 32
        // console.log(i)

        // const pi = 3.14

        // var result = 88888  //global variable
        // function add(){
        //     var result = 20000  // local scope can be access within the block only
        //     console.log(result)
        // }

        // add()
        // console.log(result)

        // function login(){
        //     //fetch username and password from the textbos
        //     //compare username and password

        //     //if correct, redirect to home page
        //     //else display error message
        // }


        // function addition(a,b){       //function with parameters
        //     //statement
        // }

        // var a = Number(prompt('enter a number'))
        // var b = Number(prompt('enter the second number'))
        // function addition(a,b){
        //     var result = a+b
        //     document.write('result is ',result)
        // }
        // addition(a,b)

        document.getElementById('h1').innerHTML = 'hai'
        document.getElementById('ptag').style.color = 'green'
        document.getElementById('h1').style.background = 'yellow'

        
    </script>
</body>

</html>